<main id="main" class="main">
    <div class="pagetitle">
        <h1>Form</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Reservation</li>
                <li class="breadcrumb-item active">Form</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title" style="display: inline-block; margin-bottom: 3px; padding-bottom: 3px;">
                <h2 style="display: inline;">Reservation Form</h2>
                <hr
                    style="display: inline-block; border: none; height: 10px; background-color: black; width: 100%; margin: 0; padding: 0;">
            </div>
            <form class="row g-3">
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Client Name: </label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.clientId">
                    </div>
                    <div class="col-md-6"> <label class="form-label">Address: </label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.address">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Authorized Representative/ Contact Person: </label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.contactPerson">
                    </div>
                    <div class="col-md-4"> <label class="form-label">Contact Nos.</label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.contactNo">
                    </div>
                    <div class="col-md-2"> <label class="form-label">Fax No.</label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.faxNo">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4"> <label class="form-label">Nature of Event: </label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.title"
                            [ngClass]="validate.title?'is-invalid':''">
                            <div class="invalid-feedback">Please enter the activity.</div>
                    </div>
                    <div class="col-md-4"> <label class="form-label">Category: </label>
                        <select class="form-select" aria-label="Default select example" name="myData"
                            [(ngModel)]="selectedValue" (ngModelChange)="onSelectChange(selectedValue)"
                            [ngClass]="validate.facilityId?'is-invalid':''">
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor="let item of listfacilitycategory" [value]="item.categoryId">
                                {{ item.categoryName }}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select.</div>
                    </div>
                    <div class="col-md-4"> <label class="form-label">Facilities: </label>
                        <select class="form-select" aria-label="Default select example" name="myData"
                            [(ngModel)]="checker" [ngClass]="validate.facilityId?'is-invalid':''">
                            <option value="" disabled selected>Select Facility</option>
                            <option *ngFor="let item of dropdownPrice" [value]="item.facilityId">
                                {{ item.categoryName }} - {{ item.facilityName }}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select.</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2"> <label class="form-label">Event Date: </label>
                        <input type="date" class="form-control" name="myData" [(ngModel)]="addData.date"
                            [ngClass]="validate.date?'is-invalid':''">
                            <div class="invalid-feedback">Please select date.</div>
                    </div>
                    <div class="col-md-2"> <label class="form-label">Start Time: </label>
                        <select class="form-select" aria-label="Default select example" name="myData"
                            [(ngModel)]="addData.startTime" [ngClass]="validate.startTime?'is-invalid':''">
                            <option value="" disabled selected>Select time</option>
                            <option *ngFor="let item of startTime" [value]="item.int">
                                {{ item.type }}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select time.</div>
                    </div>
                    <div class="col-md-2"> <label class="form-label">End Time: </label>
                        <select class="form-select" aria-label="Default select example" name="myData"
                            [(ngModel)]="addData.endTime" [ngClass]="validate.endTime?'is-invalid':''">
                            <option value="" disabled selected>Select time</option>
                            <option *ngFor="let item of endTime" [value]="item.int">
                                {{ item.type }}
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select time.</div>
                    </div>
                    <div class="col-md-2"> <label class="form-label">No. of Participants: </label>
                        <input type="text" class="form-control" name="myData" [(ngModel)]="addData.participantNo">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlTextarea1">Remarks:</label>
                        <textarea class="form-control" id="" rows="4" name="myData"
                            [(ngModel)]="addData.remarks"></textarea>
                    </div>
                </div>
                <div *ngIf="purpose" class="row mt-3">
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="exampleFormControlTextarea1">Other
                            Equipments:</label>&nbsp;
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off"
                                [(ngModel)]="isCheckScoreboard" [ngModelOptions]="{standalone: true}">
                            <label class="btn btn-outline-primary" for="btncheck1">Electronic Scoreboard</label>

                            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off"
                                [(ngModel)]="isCheckSound" [ngModelOptions]="{standalone: true}">
                            <label class="btn btn-outline-primary" for="btncheck2">Sound System</label>

                        </div>
                    </div>
                </div>
                <div *ngIf="account == compAccount? true:false" class="">
                    <button (click)="AddResFacilities()" type="button" class="btn btn-primary "><i class="bi bi-plus-lg"></i>&nbsp;List</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title" style="display: inline-block; margin-bottom: 3px; padding-bottom: 3px;">
                <h2 style="display: inline;">Reserved</h2>
                <hr
                    style="display: inline-block; border: none; height: 10px; background-color: black; width: 100%; margin: 0; padding: 0;">
            </div>
            <div class="table-responsive">
                <table class="my-table table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Facility</th>
                            <th scope="col">Other Equipments</th>
                            <th scope="col">Event Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Total</th>
                            <th *ngIf="account == compAccount? true:false" width="12.6%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataItem of approvedList; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{dataItem.categoryName}}</td>
                            <td>{{dataItem.facilityName}}</td>
                            <td>{{dataItem.othersId}}</td>
                            <td>{{dataItem.formattedDate}}</td>
                            <td>
                                <div *ngFor="let item of startTime">
                                    <span *ngIf="item.int === dataItem.startTime"> {{item.type}} </span>
                                </div>
                            </td>
                            <td>
                                <div *ngFor="let item of endTime">
                                    <span *ngIf="item.int === dataItem.endTime"> {{item.type}} </span>
                                </div>
                            </td>
                            <td>₱ {{dataItem.total}}</td>
                            <td *ngIf="account == compAccount? true:false">
                                <button (click)="editData = dataItem ; temp = dataItem" type="button"
                                    class="btn btn-outline-success border-0" data-bs-toggle="modal" data-bs-target="#edit">
                                    <i class="bi bi-pencil"></i>&nbsp;Edit
                                </button>
                                &nbsp;
                                <button (click)="editData = dataItem" class="btn btn-outline-danger border-0"
                                    (click)="DeleteResFacilities(dataItem.resFacilitiesId)">
                                    <i class="bi bi-x-octagon"></i>&nbsp;Cancel
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- EDIT -->
    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="exampleModalLabel">{{editData.title}} - Reserved</h1>
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-hidden="true"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div *ngIf="editData.facilityId ?? null" hidden class="col-md-12"> <label
                                class="form-label">Facilities:
                            </label>
                            <select hidden class="form-select" aria-label="Default select example"
                                [(ngModel)]="editData.facilityId">
                                <option value="" disabled selected>Select Facility</option>
                                <option *ngFor="let item of dataListPrice" [value]="item.facilityId">
                                    {{ item.categoryName }} - {{ item.facilityName }}
                                </option>
                            </select>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"> <label class="form-label">Event Date: </label>
                                <input type="date" class="form-control" [(ngModel)]="editData.date" name="date"
                                    id="date">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"> <label class="form-label">Start Time: </label>
                                <select class="form-select" aria-label="Default select example" name="startTime"
                                    id="startTime" [(ngModel)]="editData.startTime">
                                    <option value="" disabled selected>Select time</option>
                                    <option *ngFor="let item of startTime" [value]="item.int">
                                        {{ item.type }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6"> <label class="form-label">End Time: </label>
                                <select class="form-select" aria-label="Default select example" name="endTime"
                                    id="endTime" [(ngModel)]="editData.endTime">
                                    <option value="" disabled selected>Select time</option>
                                    <option *ngFor="let item of endTime" [value]="item.int">
                                        {{ item.type }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        aria-hidden="true">Close</button>
                    <button (click)="EditResFacilities()" type="button" class="btn btn-success"><i class="bi bi-save2"></i>&nbsp;Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>