

  .my-table th,
  .my-table td {
    height: 50px; /* Change this value to whatever height you want */
    vertical-align: middle;
  }
  
  .my-table thead th {
    height: 80px; /* Change this value to whatever height you want */
  }

  .blue-modal-header {
    background-color: #F0F0F0;
    color: white;
  }

  /* .search-box {
    position: relative;
    display: inline-block;
  }
  
  .search-box input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
  }
  
  .search-box input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(81, 203, 238, 0.6);
  }
  
  .search-box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #0056b3;
  } */



  
  