.blue-modal-header {
    background-color: blue;
    color: white;
  }
.yellow-modal-header {
    background-color: yellow;
    color: white;
  }
  
.red-modal-header {
    background-color: red;
    color: white;
  }