<main id="main" class="main">


    <div class="">
        <div class="">
            <form class="row g-3">
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Client Name: </label>

                    </div>
                    <div class="col-md-6"> <label class="form-label">Address: </label>

                    </div>
                </div>

            </form>
        </div>
    </div>

<button (click)="printThisPage()">
    Print
</button>
 
</main> 