<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-2 col-md-6">
                  <div class="card info-card sales-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Oval <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/running.gif" alt="" width="70" height="70"> </div>
                           <div class="ps-3">
                              <h6>{{ovalCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{ovalCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-2 col-md-6">
                  <div class="card info-card revenue-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Football Field <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/goal.gif" alt="" width="70" height="70"> </div>
                           <div class="ps-3">
                              <h6>{{footballCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{footballCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> 
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Swimming Pools <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/swimmer.gif" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{swimmingCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{swimmingCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Outside Courts <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/basketball-players.gif" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{outsideCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{outsideCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Club House <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/club.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{clubhouseCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{clubhouseCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Entire Sports and Tourism Complex <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/office-building.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{stComplexCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{stComplexCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">DavNorGym <span>| Total</span>&nbsp;&nbsp;<span class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/gym.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{davnorgymCounter_res}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Reserved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{davnorgymCounter_done}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Done</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>