<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card sales-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Oval and Grandstand <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/grandstand.png" alt="" width="70" height="70"> </div>
                           <div class="ps-3">
                              <h6>{{ovalPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{ovalApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{ovalCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card revenue-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Football Field <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/soccer-field.png" alt="" width="70" height="70"> </div>
                           <div class="ps-3">
                              <h6>{{footPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{footApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{footCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Swimming Pools <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/swimming-pool.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{swimPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{swimApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{swimCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Outside Courts <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/court.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{outPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{outApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{outCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Training Rooms <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/club.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{trainPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{trainApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{trainCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Club House <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/office-building.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{clubPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{clubApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{clubCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Pavillion <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/hut.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{pavPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{pavApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{pavCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Davnor Gym <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/gym.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{davgymPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{davgymApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{davgymCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Entire Sports and Tourism Complex <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/stadium.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{entiresportscomplexPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{entiresportscomplexApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{entiresportscomplexCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Davnor Coliseum <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/coliseum.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{davcolPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{davcolApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{davcolCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Davnor Training Center <span>| Total</span>&nbsp;&nbsp;<span
                              class="badge rounded-circle bg-light badge-number text-black font-weight-bold"></span>
                        </h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <img
                                 src="assets/img/training.png" alt="" width="70" height="70"></div>
                           <div class="ps-3">
                              <h6>{{trainPending}}</h6>
                              <span class="text-warning small pt-1 fw-bold">Pending</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{trainApprove}}</h6>
                              <span class="text-primary small pt-1 fw-bold">Approved</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <div class="ps-3">
                              <h6>{{trainCancel}}</h6>
                              <span class="text-danger small pt-1 fw-bold">Canceled</span> <span
                                 class="text-muted small pt-2 ps-1"></span>
                           </div>
                           <!-- <div class="col-md-6">
                              <img src="assets/img/muscle.gif" alt="" width="70" height="70">
                           </div>  -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>